[submodule "vendor/ldar_sim"]
	path = vendor/ldar_sim
	url = https://github.com/LDAR-Sim/LDAR_Sim.git
[submodule "vendor/feast"]
	path = vendor/feast
	url = https://github.com/FEAST-SEDLab/FEAST_PtE.git
	branch = FEAST_3.1
